<div class="content">
    <h3>
        WORKOUT DIARY</h3>

    <h4>Activities:</h4>

    <ul>
        <li>cycling</li>
        <li>spinning</li>
        <li>running</li>
        <li>steps</li>
        <li>others can be added...</li>
    </ul>

    <h4>RECORDED VALUES OF WORKOUT:</h4>

    <ul>
        <li>duration</li>
        <li>datetime</li>
        <li>calories</li>
        <li>distance</li>
        <li>avg. speed</li>
        <li>avg. HR</li>
        <li>avg. candence</li>
        <li>avg. pace</li>
        <li>etc.</li>
    </ul>

    <h4>PERSONAL VALUES:</h4>

    <ul>
        <li>weight</li>
        <li>height</li>
        <li>age</li>
        <li>gender</li>
        <li>resting HR pace</li>
    </ul>

    <ul>
        <li>calculate MAX HR pace</li>
        <li>calculate HR zones</li>
    </ul>

    <h4>WORKOUTS:</h4>

    <ul>
        <li>create custom workout for cycling, spinning</li>
    </ul>
</div>