<div class="wrapper" *ngIf="!!workout">
    <mat-spinner [diameter]="30" *ngIf="loading"></mat-spinner>
    
    <wd-workout-detail-header [workout]="workout"
        [prev]="prev"
        [next]="next"
        (delete)="delete($event)"
        (edit)="goToEdit()"
        (findSame)="findSame()"></wd-workout-detail-header>

    <mat-card *ngIf="!!route && !!route.coordinates && !!route.count && !!route.coordinates.length"
        class="map-content">
        <wd-map [coordinates]="route.coordinates"
            [lat]="route.center.lat"
            [lon]="route.center.lon"
            [loading]="loading"></wd-map>
    </mat-card>

    <div class="flex">
        <div class="content-50">
            <wd-same-workouts [workout]="workout"></wd-same-workouts>

            <mat-tab-group>
                <mat-tab label="Detaily">
                    <mat-card class="inside-tab">
                        <wd-workout-detail-numbers [workout]="workout"></wd-workout-detail-numbers>
                    </mat-card>
                </mat-tab>
                <mat-tab *ngIf="!!workout.log && !!workout.log.id" label="Srdečí frekvence">
                    <mat-card class="inside-tab">
                        <wd-workout-detail-hr *ngIf="!!hrAnalyzed" [id]="workout.id" [workout]="workout"
                            [analyzed]="hrAnalyzed"></wd-workout-detail-hr>
                    </mat-card>
                </mat-tab>
                <mat-tab *ngIf="!!workout.log && !!workout.log.id" label="Check pointy">
                    <mat-card class="inside-tab">
                        <wd-workout-checkpoint-form
                            [workoutId]="id"
                            (saved)="onCheckPointsChanged()"></wd-workout-checkpoint-form>
        
                        <ng-container *ngIf="!!workoutRoute && !!workoutRoute.length && !checkPointsLoading">
                            <wd-workout-check-point-table
                                [data]="workoutRoute"
                                (deleted)="deleteCheckPoint($event)">
                            </wd-workout-check-point-table>
                        </ng-container>
                        <div *ngIf="!!checkPointsLoading">
                            Nahrávám...
                        </div>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="content-50">
            <mat-card *ngIf="!!workout.log.id">
                <wd-workout-detail-graph *ngIf="id" [id]="id" [activity]="workout.activity"></wd-workout-detail-graph>
            </mat-card>
            
            <mat-card *ngIf="workout.log.id">
                <div class="file-wrapper">
                    <span class="file-name" (click)="export()">{{workout.log.name}}</span>
                    <span class="file-size">{{workout.log.size | fileSize}}</span>
                    <span class="file-actions">
                        <a (click)="convertWorkoutToGpx()">GPX</a>
                        <i class="material-icons" (click)="deleteFileLog()">delete</i>
                    </span>
                </div>
            </mat-card>

            <wd-file-upload *ngIf="!workout.log.id"
                [url]="'/resource/workout/' + id + '/file'"
                (uploaded)="uploaded($event)"></wd-file-upload>
        </div>
    </div>
</div>