<h1 mat-dialog-title>Detail záznamu</h1>
<div mat-dialog-content class="content">
    <wd-illness-preview-item label="Datum a čas"
        [value]="(data.date | moment) + ' ' + data.time"></wd-illness-preview-item>
    <wd-illness-preview-item label="Nemoc"
        [value]="data.type.name"></wd-illness-preview-item>
    <wd-illness-preview-item
        *ngIf="data.type.id === 'DIARRHEA'"
        label="Průběh"
        [value]="data.course"></wd-illness-preview-item>
    <wd-illness-preview-item
        *ngIf="!!data.note"
        label="Poznámky"
        [value]="data.note"></wd-illness-preview-item>
    
</div>
<div mat-dialog-actions class="actions">
    <button mat-button color="error" tabindex="-1"
        [mat-dialog-close]="{action: 'DELETE', data: data}">Smazat</button>
    <!-- <button mat-raised-button color="primary" cdkFocusInitial
        mat-dialog-close>Zavřít</button> -->
</div>