<form [formGroup]="form">
    <div class="date-time">
        <mat-form-field>
            <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Datum">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="time" placeholder="Čas" type="time">
        </mat-form-field>
    </div>
    <mat-form-field>
        <mat-select formControlName="type" placeholder="Nemoc">
            <mat-option *ngFor="let type of illnesses" [value]="type.id">
            {{ type.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="form.get('type').value === 'DIARRHEA'">
        <textarea matInput formControlName="course" placeholder="Průběh" matTextareaAutosize matAutosizeMinRows="2"
                    matAutosizeMaxRows="8"></textarea>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput formControlName="note" placeholder="Poznámka" matTextareaAutosize matAutosizeMinRows="1"
                    matAutosizeMaxRows="8"></textarea>
    </mat-form-field>
</form>