.wrapper {
    display: flex;
}

.hr {
    margin: auto;

    &.avg {
        .value {
            font-size: 70px;
        }
    }

    .value {
        font-size: 62px;
        font-weight: bold;
        text-align: center;
    }

    .name {
        text-align: center;
        font-size: 14px;
    }
}

.tooltip-temp {
    padding: 5px 10px;
    font-size: 11px;
    .value {
        font-size: 14px;
        padding-bottom: 5px;
    }
}
