<div>
    <div class="chart-wrapper">
        <div *ngIf="colMaxHeight >= (columnHeigh(3600) + 19)"
            class="hour"
            [style.bottom.px]="columnHeigh(3600) + 19">
            <span>1 hod</span>
        </div>
        <div *ngIf="colMaxHeight >= (columnHeigh(3600) + 19)"
            class="hour"
            [style.bottom.px]="columnHeigh(7200) + 19">
            <span>2 hod</span>
        </div>
        <div class="items-wrapper">
            <div class="item" [class.sunday]="item.day === 'Neděle'" *ngFor="let item of data">
                <div class="workout-icons">
                    <div class="bar" *ngIf="columnHeigh(item.totalDuration) > 0" [style.height.px]="columnHeigh(item.totalDuration)"
                        [style.backgroundColor]="item.color"
                        [matTooltip]="(item.totalDuration | secToTime) + ' | ' + item.totalDistance + ' km | ' + item.totalCalories + ' kcal'"
                        matTooltipPosition="above"></div>
                </div>
                <div class="date" [class.weekend]="item.day === 'Sobota' || item.day === 'Neděle'">
                    <span [matTooltip]="item.day" >{{item.date | moment: 'D'}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ngx-charts-bar-vertical *ngIf="!!source"
    [view]="[700, 200]"
    [scheme]="colorScheme"
    [results]="source"
    [gradient]="false"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Dny'"
    [yAxisLabel]="'Čas [min]'">
</ngx-charts-bar-vertical> -->

<!-- workout chart will be here soon -->
<!-- <ngx-charts-bar-vertical-stacked *ngIf="!!data"
    [view]="view"
    [scheme]="colorScheme"
    [results]="data"
    [gradient]="false"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    xAxisLabel="Dny"
    yAxisLabel="Čas"
    (select)="onSelect($event)">
</ngx-charts-bar-vertical-stacked> -->
