<h2>
    {{date | moment: 'MMMM YYYY'}}
    <button mat-icon-button mat-raised-button class="add-button" (click)="prevMonth.emit()">
        <i class="material-icons">navigate_before</i>
    </button>
    <button mat-icon-button mat-raised-button class="add-button" (click)="nextMonth.emit()"s>
        <i class="material-icons">navigate_next</i>
    </button>
</h2>

<ng-container *ngIf="!!weeks.length">
    <div class="week">
        <div *ngFor="let day of weekdays" class="weekday">
            <span class="long">{{day}}</span>
            <span class="short">{{day.slice(0, 2)}}</span>
        </div>
    </div>
    <div *ngFor="let days of weeks; index as i" class="week">
        <div *ngFor="let day of days"
            class="day"
            [class.empty]="!day.date"
            [class.today]="day.today"
            [class.sick]="!!day.illnesses && !!day.illnesses.length">
            <span class="day-number">{{day.day}}</span>
            <div *ngFor="let item of day.illnesses" class="illness">
                <span (click)="preview(item)">{{item.type.name}}</span>
                <i class="material-icons" (click)="edit(item)">
                    create
                </i>
            </div>
        </div>
    </div>
</ng-container>