<div *ngIf="isLoading" class="loading">
    Nahrávám...
</div>
<div *ngIf="workouts">
    <div>
        <wd-workout-chart [workouts]="workouts"></wd-workout-chart>
    </div>

    <div class="summaries">
        <div class="item">
            <div class="value">{{workouts.length}}</div>
            <div class="name">Počet tréninků</div>
        </div>
        <div class="item">
            <div class="value">{{totalDuration | secToWords}}</div>
            <div class="name">Celkový čas</div>
        </div>
        <div class="item">
            <div class="value">{{totalDistance.toFixed(2)}} km</div>
            <div class="name">Celková vzdálenost</div>
        </div>
    </div>

    <div class="filter-container" *ngIf="!!types">
        <wd-workout-types-group
            [types]="types"
            (changed)="typesChanged()"></wd-workout-types-group>
    </div>

    <div class="filter-container">
        <div class="view-selector">
            <i class="icon-list" [class.active]="view === 'list'" (click)="switchView('list')"></i>
            <i class="icon-table" [class.active]="view === 'table'" (click)="switchView('table')"></i>
            <i class="icon-calendar" [class.active]="view === 'calendar'" (click)="switchView('calendar')"></i>
        </div>
        <wd-workout-range-selector
            (changed)="rangeChanged($event)"></wd-workout-range-selector>
    </div>

    <ng-container [ngSwitch]="view" *ngIf="!!workouts && !!workouts.length">
        <ng-container *ngSwitchCase="'calendar'">
            <wd-workout-calendar [workoutsData]="workouts"></wd-workout-calendar>
        </ng-container>

        <ng-container *ngSwitchCase="'list'">
            <wd-workout-list [workouts]="workouts"></wd-workout-list>
        </ng-container>

        <ng-container *ngSwitchCase="'table'">
            <wd-workout-table-view [workouts]="workouts"></wd-workout-table-view>
        </ng-container>
    </ng-container>
</div>
