form {
    // width: 600px;
    // margin: auto;

    div {
        // &.main {
        //     mat-form-field {
        //         width: 49%;
        //     }
        // }

        &.note {
            mat-form-field {
                width: 100%;
            }
        }
    }

    .same-width {
        display: flex;
        mat-form-field {
            width: 100px;
            // flex-grow: 1;
            flex: 1 1 0px;
            margin-right: 6px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}