.card-wrapper {
    margin-bottom: 5px;
}

.workout-list-wrapper {
    // width: 640px;
    // margin: 0 auto;
}

.group-wrapper {
    width: 640px;
    margin: 0 auto;
    padding-bottom: 8px;
}

.group-name {
    padding: 16px 0px 10px 0px;
    font-size: 18px;
}