<div *ngIf="loading">
    <mat-spinner [diameter]="20"></mat-spinner>
</div>
<wd-health-calendar-view
    [date]="range.from"
    [illnesses]="illnesses"
    (editClicked)="edit($event)"
    (previewClicked)="preview($event)"
    (prevMonth)="prevMonth()"
    (nextMonth)="nextMonth()"></wd-health-calendar-view>

<div class="actions">
    <button mat-icon-button mat-raised-button class="add-button" (click)="add()">
        <i class="material-icons">
            add
        </i>
    </button>
</div>