.material-icons {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #FFF;
    border-radius: 50%;
    font-size: 12px;
    margin-right: 6px;
}

.workout-link {
    color: rgba(0,0,0,.87);
}
