<h3>Nové cvičení</h3>

<wd-workout-form (saved)="save($event)">
    <div>
        <div class="dropzone" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">
            <div ng2FileDrop
                (fileOver)="fileOverBase($event)"
                [uploader]="uploader"
                class="my-drop-zone">
                <div><i class="icon-upload"></i> Přetáhni soubor sem.</div>
            </div>
        </div>
    
        <div *ngFor="let item of uploader.queue">
            {{item.file.name}} <span (click)="item.remove()">odebrat</span>
        </div>
    
        <div class="progress" *ngIf="isUploading">
            <div class="progress-bar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
    </div>
</wd-workout-form>