<table>
    <thead>
        <tr>
            <th>Název</th>
            <th>Min (bpm)</th>
            <th>Max (bpm)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{zones.speed.name}}</td>
            <td>{{zones.speed.min}}</td>
            <td>{{zones.speed.max}}</td>
        </tr>
        <tr>
            <td>{{zones.economy.name}}</td>
            <td>{{zones.economy.min}}</td>
            <td>{{zones.economy.max}}</td>
        </tr>
        <tr>
            <td>{{zones.stamina.name}}</td>
            <td>{{zones.stamina.min}}</td>
            <td>{{zones.stamina.max}}</td>
        </tr>
        <tr>
            <td>{{zones.endurance.name}}</td>
            <td>{{zones.endurance.min}}</td>
            <td>{{zones.endurance.max}}</td>
        </tr>
    </tbody>
</table>